logs/*

__pycache__/*

# Environment variables
.env
airgap_sns/core/__pycache__/*
airgap_sns/chat/__pycache__/app.cpython-310.pyc
airgap_sns/chat/app.py
airgap_sns/host/__pycache__/__init__.cpython-310.pyc
airgap_sns/host/__pycache__/server.cpython-310.pyc
airgap_sns.egg-info/dependency_links.txt
airgap_sns.egg-info/entry_points.txt
airgap_sns.egg-info/PKG-INFO
airgap_sns.egg-info/requires.txt
airgap_sns.egg-info/SOURCES.txt
airgap_sns.egg-info/*
airgap_sns/chat/__pycache__/*
airgap_sns/__pycache__
airgap_sns/client/__pycache__/*
